:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-text-color: #212121;
  --accent-color:#2196f3;
  --first-text-color: #FFFFFF;
  --second-text-color: #757575;
  --team-buttons-color: #F5F4FA;  
  --footer-color:  #2F303A;
  --logo-color: #000000;
  --hero-color: #2f303a;
  --main-btn-color: #188CE8;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link.current {
  color: var(--accent-color);
}

body {
  font-family: var(--main-font);
   color:var(--main-text-color);
   background-color: var(--first-text-color);
}

/*           header           */

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}


.logo-part {
  color: var(--logo-color);
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/*           END header           */

/*             hero             */
.hero {
  background: var(--hero-color);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
  background: var(--main-btn-color);
  cursor: pointer;
} 

/*         END    hero             */


/*             advantages             */

.title-none {
display:none;
}

.title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: center;
}

.title-item-el {
font-weight: 700;
font-size: 14px;
line-height: 1.14
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-text-color);
}

.title-item-cont {
font-size: 14px;i
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-text-color);
}

/*            EMD advantages             */


/*             team             */
.team-member {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--main-text-color);
}

.team-item-position {
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--second-text-color);
}

.team {
background: var(--team-buttons-color);
}

.our-team {
  columns: 4;
}

/*           END  team             */

/*             footer             */

.address-item {
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.address-city {
  color: var(--first-text-color);
}

.footer {
  background: var(--footer-color);
}
.footer-logo {
 font-family: var(--secondary-font);
font-size: 26px;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: left;
color: var(--accent-color);
}
.logo-part-2 {
 color: var(--first-text-color);
}

/*         END    footer             */

/*             PORTFOLIO             */


.buttons-item {
background: var(--team-buttons-color);
border-radius: 4px;
border: 0px; 
cursor: pointer;
}

.buttons-text {
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
color: var(--main-text-color);
}

.buttons-item:hover,
.buttons-item:focus {
  background-color: var(--accent-color);
  color: var(--first-text-color);
}


.images-text {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-text-color);
}

.kind {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--second-text-color);
}

.images {columns: 3;}
