:root {
  --mail-font: Roboto, sans-serif;
  --srcondary-font: ;
}

body {
  font-family: var(--mail-font);
  color: #e5e5e5;
}

.menu-link {
  font-family: ;
  font-weight: ;
  line-hight: ;
  letter-spacing: ;
}

.menu-link:hover,
.menu-link:focus {
  color: ;
}
